 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }
 .wrapper {
     display: flex;
     flex: 1;
 }
 /* Sidebar (solo en lg en adelante) */
 .sidebar {
     min-width: 220px;
     max-width: 220px;
     background-color: #198754;
     color: white;
 }
 .sidebar a {
     color: white;
     text-decoration: none;
 }
 .sidebar a:hover {
     background: rgba(255, 255, 255, 0.1);
     border-radius: 5px;
 }
 .content {
     flex: 1;
     padding: 20px;
     background-color: #f8f9fa;
 }