:root { /* define variables globales */
  --bg: #F7F7F7; /* guardan colores que usaremos en todo el proyecto */
  --primary:#2E8B57;/*guardan colores que usaremos en todo el proyecto */
  --amarillo-mostaza:#FFD700;
  --titulos-subtitulos:#8B4513;
  --text: #333; /* guardan colores que usaremos en todo el proyecto */
  --radius: 10px; 
}

@font-face {
  font-family:'Montserrat';
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

*{
  font-family: 'Montserrat';
}

body {
  
  margin: 0;
  background: var(--bg); /* Define el color del texto principal en todo el documento */
  color: var(--text);/* Usa la variable --text definida en :root */
}


.container { /* centra y limita el ancho del contenido de la página */
  width: min(90%, 1100px);/* ancho del contenedor */
  margin: auto;
}

.site-header {
  background: var(--primary);
  padding: 10px 0;/* Aplica espaciado interno (entre el borde del header y su contenido) */
}

.nav {
    display: flex;
    /* activa flexbox */
    justify-content: space-between;
    /* logo izquierda, menú derecha */
    align-items: center;
    /* centra verticalmente */
    padding: 20px 20px;
}

.logo {
    color: white;
    font-weight: bold;
}

.logo img {
    height: 80px;
    /* altura fija del logo */
    width: auto;
    /* mantiene proporción */
    display: block;
    /* evita que el logo se "baje" */
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 0.3s;
}

.menu a :hover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}

.menu a:hover::after {
    width: 200%;
}


.hero {
    text-align: center;
    padding: 40px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas fijas */
    gap: 20px;
    /* espacio entre tarjetas */
    margin-top: 20px;
}

.card {
  background: white;
  border-radius: 10px;  /*cambiar a border-radius: var(--radius); */
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    max-width: 200%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.btn {
    display: inline-block;
    background: var(--primary);
    color: white;
    padding: 10px 15px;
    border-radius: var(--radius);
    text-decoration: none;
}

.site-footer {
    background: #222222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a i {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00c853;
    /* cambia a verde (puedes usar otro color) */
}
